.show-set {
  margin-bottom: 30px;
  .heading {
    margin-bottom: 15px;
  }
}

.group {
  display: flex;
  margin-bottom: 10px;
  .title {
    min-width: 80px;
    font-weight: bold;
    &::after {
      content: ":";
    }
  }
}
