* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 1rem auto;
  max-width: 1200px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
}

table {
  width: 90%;
  margin: 0 auto;
}

.left-heading {
  width: 200px;
  font-weight: bolder;
}

.t-cell {
  display: flex;
  justify-content: space-between;
}

table .MuiFormControl-root {
  width: 70px;
}

.sum td {
  font-weight: bolder;
  font-size: 18px;
}
